<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReadAndWritetoPlists.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F0494461EC57AB3000CB379</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F04945A1EC57AB3000CB379</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F0494651EC57AB3000CB379</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
